@mixin btn_animation_on_hover_and_active($offset,$shadowWidth,$shadowBlur) {
  transform:translateY($offset*1rem);
  box-shadow: 0 $shadowWidth rem $shadowBlur rem rgba( $color-black,.2);
}

@mixin clearfix {
  &:after {
    content: '';
    clear:both;
    display: table;
  }

}

@mixin centerElement{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

//media query manager
/*
0-600 phone
600-900 tablet portrait
900-1200 tablet landscape
1200-1800 normal style
1800+ big desktop

$breakpoint arg choices:
-phone
-tab-port
-tab-land
-big-desktop
 */

@mixin respond($breakpoint){

  @if $breakpoint == phone{
    @media (max-width:37.5em){ //600px
      @content
    }
  }

  @if $breakpoint == tab-port { //900px
    @media (max-width:56.25em){
      @content
    }
  }

  @if $breakpoint == tab-land { //1200px
    @media (max-width:75em){
      @content
    }
  }

  @if $breakpoint == big-desktop { //1800px
    @media (min-width:112.5em){
      @content
    }
  }


}