//colors
$color-primary: #55c57a; //medium green
$color-primary-light: #7ed56f; //Light green
$color-primary-dark: #28b485; //Dark green
$color-grey-dark: #777; //grey dark color
$color-white: #fff; //white color
$color-black: #000; //black color
$color-grey-light-1: f7f7f7; //grey color for section about

//GRID
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;