//colors
$color-primary: #55c57a; //medium green
$color-primary-light: #7ed56f; //Light green
$color-primary-dark: #28b485; //Dark green
$color-grey-dark: #777; //grey dark color
$color-grey-dark-2: #999; //grey dark color #2
$color-grey-dark-3: #333; // grey dark color #3
$color-white: #fff; //white color
$color-black: #000; //black color
$color-grey-light-1: #f7f7f7; //grey color for section about
$color-grey-light-2: #eee; //grey color for section tours
$color-secondary-light: #ffb000; // orange
$color-secondary-dark: #ff7730; //dark grey
$color-tertiary-light: #2998ff; // blue
$color-tertiary-dark: #5643fa; //dark purple

//GRID
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


//Font
$default-font-size: 1.6rem;